* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(223, 223, 214);
    color: rgb(75, 75, 71);;
}

nav { /*https://codepen.io/alvarotrigo/pen/XWejzjR*/
    order: 2;
    display: flex;
}

nav a { /*https://codepen.io/alvarotrigo/pen/XWejzjR*/
    list-style: none;
    margin-left: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(75, 75, 71);;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    font-style: italic;
    letter-spacing: 2px;
}

nav a:hover { 
    color: rgb(93, 93, 84);;
    transition: color 0.3s ease-in-out; /*https://codepen.io/alvarotrigo/pen/XWejzjR*/
}

.nav { /*https://codepen.io/alvarotrigo/pen/XWejzjR*/
    position: sticky;
    top: 0px;
    width: 100%;
    color: rgb(75, 75, 71);
    background-color: rgba(163, 163, 151, 0.97);
    height: 60px;
    z-index: 12;
    margin-bottom: 10px;
}

.nav-inner { /*https://codepen.io/alvarotrigo/pen/XWejzjR*/
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-right: 4vw;
    justify-content: center;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 80px;
    margin: 0px;
    letter-spacing: 4px;
}

.header h4 {
    font-size: 14px;
    font-style: italic;
    margin: 2px;
    letter-spacing: 6px;
}

.floating {
    position: relative;
    height: 620px;
    margin-top: 20px;
}

.photo1 img {
    position: absolute;
    width: 540px;
    left: 30px;
}

.mission {
    position: absolute;
    width: 800px;
    height: 505px;
    background-color: rgba(197, 197, 183, 0.97);
    right: 30px;
    top: 80px;
}

.mission-inner {
    border: 2px black solid;
    width: 760px;
    height: 465px;
    margin: 20px;
}

.mission h2 {
    font-size: 50px;
    font-style: italic;
    margin: 16px auto 10px;
    letter-spacing: 4px;
}

.mission p {
    margin: 0px;
    font-size: 18px;
}

.mission h2, .mission p {
    padding: 10px 26px;
}

.name {
    font-weight: 600;
}

.services {
    position: relative;
    height: 440px;
}

.info {
    position: absolute;
    width: 800px;
    height: 280px;
    background-color: rgba(197, 197, 183, 0.97);
    left: 30px;
}

.info-inner {
    border: 2px black solid;
    width: 760px;
    height: 240px;
    margin: 20px;
}

.info h2 {
    font-size: 50px;
    font-style: italic;
    margin: 16px auto 10px;
    letter-spacing: 4px;
}

.info p {
    margin: 0px;
    font-size: 18px;
}

.info h2, .info p {
    padding: 10px 150px 10px 26px;
}

.pricing {
    position: absolute;
    width: 540px;
    height: 360px;
    background-color: rgba(75, 75, 71, 0.97);
    right: 30px;
    top: 50px;
}

.pricing-inner {
    border: 2px rgb(197, 197, 183) solid;
    width: 500px;
    height: 320px;
    margin: 20px;
    color: rgb(197, 197, 183);
    padding: 60px;
    line-height: 40px;
}

.pricing p {
    margin: 0px;
    font-size: 22px;
}

.item {
    float: left;
    width: 50%;
}

.cost {
    float: right;
    width: 50%;
    text-align: right;
}

.footer {
    background-color: rgba(197, 197, 183, 0.97);
    color: rgb(75, 75, 71);
    bottom: 0px;
    position: relative;
    height: 270px;
    width: 100%;
}

footer {
    width: 1206.67px;
    line-height: 26px;
    background-color: rgba(197, 197, 183, 0.97);
    color: rgb(75, 75, 71);
    margin: 20px;
    border: 2px black solid;
    height: 230px;
    position: absolute;
    padding: 10px 26px;
}

footer h2 {
    font-style: italic;
    font-size: 40px;
    width: 100%;
    float: left;
    margin: 10px 0px;
}

footer .hours {
    width: 15%;
    float: left;
    height: 160px;
}

footer .address {
    width: 15%;
    float: left;
    height: 160px;
}

footer .footer-image {
    width: 20%;
    float: left;
}

footer .footer-image img {
    width: 200px;
}   