/*GENERAL*/

* {
    box-sizing: border-box;
}

body {
    background-color: #484848;
    font-family: "new-zen", sans-serif;
    /*Available weights: 300, 400, 700*/
}

h1,
h2,
h3,
h4,
p {
    color: #CCC29C;
}

h1 {
    font-size: 3.8em;
}

h2 {
    font-size: 3.2em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

.home-main,
.portfolio-main,
.resume-main,
.addams-main {
    display: inline-block;
}

/*NAVIGATION*/

.header {
    display: block;
    height: 5.2vw;
    border-bottom: 0.2em solid #2e2e2e;
}

nav a {
    text-decoration: none;
    color: #CCC29C;
    margin: 1vw 1.8vw;
    font-size: 2em;
    float: right;
    font-weight: 300;
    font-style: normal;
}

nav a:hover {
    border-bottom: 2px solid #818f5a;
}

.name {
    float: left;
    text-decoration: none;
    color: #CCC29C;
    margin: 1vw 1.8vw;
    font-size: 2em;
    font-weight: 600;
}

/*FOOTER from https://codepen.io/slstudios/pen/mJqjeP*/

section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background-color: #2e2e2e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #CCC29C;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #CCC29C;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #818f5a;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #CCC29C;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline #818f5a 2px;
}

/* Media Queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/*INDEX.HTML*/

.title {
    float: right;
    width: 90%;
    text-align: right;
    margin: 0vw 2vw;
}

.title h1 {
    margin: 1vw 1vw 0.4vw;
}

.title h3 {
    margin: 0.6vw 1vw 0.4vw;
    font-weight: 700;
    font-style: italic;
}

.title h4 {
    margin: 0.2vw 1vw;
    font-weight: 300;
}

.recent {
    display: block;
    float: left;
    width: 100%;
}

.recent p,
.recent a,
.recent h4 {
    color: #2e2e2e;
}

.recent h2 {
    display: flex;
    width: 90%;
    margin: 0vw 4vw 2vw;
}

.recent-item {
    box-shadow: 0vw 0vw 2vw 0.8vw #2e2e2e;
}

.recent-item {
    float: left;
    margin: 0vw 4vw 2vw;
    display: flex;
    height: 20vw;
    width: 90%;
}

.recent-item .text {
    background-color: #818f5a;
    height: 20vw;
}

.recent-item .text a {
    display: block;
    width: 26vw;
    height: 4vw;
    margin: 2vw 2vw 0.4vw;
    font-size: 2.2em;
    text-decoration: none;
    font-weight: 700;
}

.recent-item a:hover {
    border-bottom: 2px solid #587242;
}

.recent-item h4 {
    margin: 0vw 2vw 1.4vw;
    font-weight: 600;
}

.recent-item p {
    margin: 0vw 2vw;
}

.recent-item img {
    height: 20vw;
}

/*ABOUT.HTML*/

.about-main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.about-main h1 {
    text-align: center;
    border-bottom: 2px solid #818f5a;
    padding: 0px;
    margin: 2vw 0vw 3vw;
}

.about-text {
    font-weight: 400;
    line-height: 2em;
}

.about-subtitle h3 {
    margin: 1vw auto;
    padding-bottom: 0.4vw;
    text-align: center;
    border-bottom: 2px solid #818f5a;
    width: 26%;
}

.strengths p,
.skills p {
    display: inline-block;
    margin: 1em 1.6em;
    text-align: center;
    align-content: center;
    font-size: 1.4em;
}

/*PORTFOLIO.HTML*/

/*RESUME.HTML*/

.resume-main {
    width: 100%;
}

.resume-subtitle h2 {
    width: 90%;
    float: left;
    margin: 1vw 4vw 2vw;
}

.experience-box {
    width: 90%;
    float: left;
    margin: 0vw 4vw 2vw;
    background-color: #818f5a;
    box-shadow: 0vw 0vw 2vw 0.8vw #2e2e2e;
}

.experience-box h3 {
    border-bottom: 2px solid #587242;
    padding-bottom: 0.4vw;
    color: #2e2e2e;
    margin: 2vw 2vw 0.6vw;
}

.experience-box h4 {
    color: #2e2e2e;
    margin: 2vw 2vw 0.6vw;
}

.experience-box p {
    color: #2e2e2e;
    margin: 1.2vw 2vw 1.2vw;
    line-height: 1.4em;
}

.select-show {
    width: 90%;
    float: left;
    margin: 0vw 4vw 2vw;
    background-color: #818f5a;
    box-shadow: 0vw 0vw 2vw 0.8vw #2e2e2e;
}

.select-show h4 {
    color: #2e2e2e;
    padding: 2vw 2vw;
    margin: 0px;
    font-style: italic;
    width: 30%;
    float: left;
}

.select-show p {
    color: #2e2e2e;
    padding: 2vw 2vw;
    margin: 0px;
    width: 70%;
    float: left;
    text-align: right;
    font-size: 1.4em;
}

.select-show:hover {
    background-color: #587242;
}

/*CONTACT.HTML from https://codepen.io/ZachSaucier/pen/jOwNvO*/

.contact-main {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.contact-main h1 {
    border-bottom: 2px solid #818f5a;
    width: 80%;
    margin: 2vw auto;
    text-align: center;
}

form {
    margin: 2vw;
}

.feedback-input {
    color: #CCC29C;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #818f5a;
    transition: all 1s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #587242;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #818f5a;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #2e2e2e;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #587242;
}

/*ADDAMS.HTML*/